.btn-edit-user {
    background-color: #01cfbe00;
    border: 1px solid #01cfbe;
    color: #01cfbe;
    font-size: 9pt;
    margin-right: 10px;
    cursor: pointer;
}

.btn-edit-user:hover {
    background-color: #01cfbe;
    color: #020829;
}

/* Custom SweetAlert Background */
.custom-swal-popup {
    background-color: #172433 !important; /* Latar belakang SweetAlert */
    color: #ffffff; /* Warna teks SweetAlert */
    border: 1px solid #01cfbe;
}

/* Custom Confirm Button */
.custom-swal-confirm-button {
    background-color: #01cfbe !important; /* Warna tombol konfirmasi */
    color: #020829 !important;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 10pt;
}

.custom-swal-confirm-button:hover {
    background-color: #019e98 !important; /* Warna tombol saat hover */
}

/* Custom Cancel Button */
.custom-swal-cancel-button {
    background-color: #333 !important; /* Warna tombol batal */
    color: #ffffff !important;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 10pt;
}

.custom-swal-cancel-button:hover {
    background-color: #555 !important; /* Warna tombol batal saat hover */
}

.box-pagination{
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:780px){
    .box-pagination{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: right;
    }
}

/* Form dalam SweetAlert */
.swal2-input {
    color: #000 !important;
    background-color: #fff !important;
}

.swal2-select {
    color: #000 !important;
    background-color: #fff !important;
}


/* Popup Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 2000; /* Pastikan z-index cukup tinggi */
}

.popup-overlay.show {
    visibility: visible;
    opacity: 1;
}

/* Popup Content */
.popup-content {
    width: 350px;
    height: auto;
    background-color: #ffffff; /* Ubah warna sesuai kebutuhan */
    color: #000000; /* Ubah warna teks sesuai kebutuhan */
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
}

.popup-content h4 {
    margin-top: 0;
    font-size: 1.5em;
}

.popup-content .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #000000; /* Ubah warna sesuai kebutuhan */
}

/* Optional: Tambahkan gaya untuk form dalam popup */


.popup-content .form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.popup-content .btn {
    margin-top: 10px;
}
